div p {
    color: green;
}

address {
    font-size: 1.5em;
}
.dates {
    font-weight: bold;
}
#job1, #job2 {
    font-style: italic;
}
body {
    font:normal normal normal 18pt/19.8pt Arial, Helvetica, sans-serif;
}
table, tr, td {
    border: 1px solid red;
    border-collapse: collapse;
}
table {
    width: 100%;
}
p {
    color: blue;
}